jobname = GlueX-CalibRun-2016-04-27
# data/memory sizes in GB
mem_requested = 9
disk_space = 30
nthreads = 8
# time in hours
time_limit = 36

#ccdb_connection = sqlite:////u/scratch/gxproj3/ccdb.sqlite
#ccdb_connection = sqlite:////home/gxproj3/calib_challenge/ccdb.sqlite
ccdb_table_file = configs/calib_tables
