jobname = GlueX-CalibRun-2015-12-15
# data/memory sizes in GB
mem_requested = 12
disk_space = 70
nthreads = 10
# time in hours
time_limit = 12

#ccdb_connection = sqlite:////u/scratch/gxproj3/ccdb.sqlite
ccdb_connection = sqlite:////home/gxproj3/calib_challenge/ccdb.sqlite
ccdb_table_file = configs/calib_tables
